{% extends "base.html" %}
{% block content %}
    {% for guess in results_history %}
      <ul>
        {% for (label, result) in guess %}
          <li>{{ label }} : {{ result }}</li>
        {% endfor %}
      </ul>
    {% endfor %}

    <form action="/choose_zone" method="post">
        <select name="zone_name">
          {% for z in zones %}
            <option value="{{ z.name }}">{{ z.name }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
{% endblock %}